<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue - CURD</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<div id="app" class="app">
		<div class="search">
			<label for="">Search</label>
			<input type="text" v-model="searchQuery">
		</div>
        <!-- 应用表格数据，并绑定父组件数据 -->
        <data-table v-bind:data-list="people" v-bind:search-key="searchQuery" v-bind:columns="columns"></data-table>
		<!-- 应用表格数据，并绑定父组件数据 -->
	</div>

   
    <!-- table component -->
    <template id="form-template">
        <table class="form-table">
            <thead>
                <tr>
                    <th v-for="col in columns">
                        {{col.name | capitalize}}
                    </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody> 
                <tr v-for="(index, item) in dataList | filterBy searchKey">    
                    <td v-for="col in columns">
                        <span v-if="col.isKey" v-on:click="openEditItemDialog(item[col.name])">
                            <a href="javascript:;">{{item[col.name] | capitalize}}</a>
                        </span>
                        <span v-else>{{item[col.name] | capitalize}}</span>
                    </td>
                    <td>
                        <button class="btn btn-red" v-on:click="deleteItem(index)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-blue btn-large create-new" v-on:click="openNewItemDialog('Create New Item')">Create</button>
        <modal-dialog v-bind:dialog-title="title" v-bind:fields="columns" v-bind:mode="mode" v-on:create-item="createItem" v-on:edit-item="editItem" v-bind:item="item"></modal-dialog>
    </template>
    <!-- /table component -->


    <!-- dialog component -->
    <template id="dialog-template">
        <div class="dialog" v-bind:class="{'dialog-active': show}">
            <div class="dialog-overlay"></div>
            <div class="dialog-content">
                <div class="dialog-header">
                    <h1>{{dialogTitle}}</h1>
                </div>
                <div class="dialog-body">
                    <div class="form-group" v-for="field in fields">
                        <label for="">{{field.name}}</label>
                        <select v-if="field.dataSource" v-model="item[field.name]" v-bind:disabled="mode === 2 && field.isKey">
                            <option v-for="opt in field.dataSource" v-bind:value="opt">{{opt}}</option>
                        </select>
                        <input v-else type="text" v-model="item[field.name]" v-bind:disabled="mode === 2 && field.isKey">
                    </div>
                </div>
                <div class="dialog-footer">
                    <button class="btn btn-large btn-blue" v-on:click="save">Save</button>
                    <button class="btn btn-large" v-on:click="close">Cancle</button>
                </div>
            </div>
        </div>
    </template>
    <!-- /dialog component -->

	<script src="js/vue.js"></script>
	<script>
        // 注册并定义表格组件
        Vue.component("data-table", {
            template: "#form-template",
            props: ["dataList", "searchKey", "columns"],
            data: function() {
                return {
                    title: "",
                    item: {},
                    mode: 0,
                    keyColumn: ""
                }
            },
            ready: function(){ // 获得主键的名称
                for (var i = 0; i < this.columns.length; i++) {
                    if (this.columns[i].isKey) {
                        this.keyColumn = this.columns[i]['name']
                        break;
                    }
                }
            },
            methods: {
                openNewItemDialog: function(title) {
                    this.title = title;
                    this.mode = 1; // mode = 1 表示新建
                    this.$broadcast("showDialog", true);
                },
                createItem: function() {
                    var keyColumn = this.keyColumn;
                    if(!this.itemExists()){
                        this.dataList.push(this.item);
                        this.$broadcast("showDialog", false);
                        this.item = {};
                    } else {
                        alert(keyColumn + ' "' + this.item[keyColumn] + '" is already exists!');
                    }
                },
                deleteItem: function(index) {
                    this.dataList.splice(index, 1);
                },
                editItem: function() {
                    var keyColumn = this.keyColumn,
                        dataLen = this.dataList.length;
                    // 利用主键值找到对应的item，用新值替换旧值
                    for(var i = 0; i < dataLen; i++){
                        if(this.dataList[i][keyColumn] === this.item[keyColumn]) {
                            for(var j in this.item) {
                                this.dataList[i][j] = this.item[j];
                            }
                            break;
                        }
                    }
                    this.$broadcast('showDialog', false);
                    this.item = {};
                },
                openEditItemDialog: function(title) {
                    //不能直接将this.item = this.findItemByKey(title)，在没保存的情况下就会直接修改原始数据
                    var curItem = this.findItemByKey(title); 
                    this.item = this.copyCurItem(curItem);
                    this.title = "Edit Item - " + title;
                    this.mode = 2; // mode = 2 表示编辑
                    this.$broadcast("showDialog", true);
                },
                findItemByKey: function(key) {  //查找当前项
                    var keyColumn = this.keyColumn,
                        dataLen = this.dataList.length;
                    for(var i = 0; i < dataLen; i++){
                        if(this.dataList[i][keyColumn] === key){
                            return this.dataList[i];
                        }
                    }
                },
                copyCurItem: function(cur) { // 深拷贝当前项
                    var c = c || {};
                    for(var pro in cur){
                        if(cur.hasOwnProperty(pro)) {
                            if (typeof cur[pro] === 'object') {
                                c[pro] = Array.isArray(cur[pro]) ? [] : {};
                                deepCopy(cur[pro], c[pro]);
                            } else {
                                c[pro] = cur[pro];
                            }
                        }
                    }
                    return c;
                },
                itemExists: function() { // 根据主键查重
                    var keyColumn = this.keyColumn,
                        dataLen = this.dataList.length;

                    for(var i = 0; i < dataLen; i++) {
                        if(this.item[keyColumn].toLocaleLowerCase() === this.dataList[i][keyColumn].toLocaleLowerCase()) {
                            return true; // 如果已存在，返回true
                        }
                    }

                    return false; // 如果不存在，返回false
                }
            },
            components: {
                "modal-dialog": {
                    template: "#dialog-template",
                    props: ["dialogTitle", "fields", "item", "mode"],
                    data: function(){
                        return {
                            show: false
                        }
                    },
                    methods: {
                        close: function() {
                            this.show = false;
                        },
                        save: function() {
                            if(this.mode === 1){
                                // 使用$dispatch调用data-table的create-item事件
                                this.$dispatch('create-item');
                            } else if(this.mode === 2) {
                                this.$dispatch('edit-item');
                            }
                        }
                    },
                    events: {
                        "showDialog": function(flag) {
                            this.show = flag;
                        }
                    }
                }
            }
        });

        // 实例化
        var vm = new Vue({
            el: "#app",
            data: {
                searchQuery: "",
                columns: [
                    {
                        name: "name",
                        isKey: true
                    },
                    {
                        name: "age"
                    },
                    {
                        name: "sex",
                        dataSource: ["Male", "Female"]
                    }
                ],
                people: [
                    {
                        name: "Jack",
                        age: 30,
                        sex: "Male"
                    },
                    {
                        name: "Bill",
                        age: 30,
                        sex: "Male"
                    },
                    {
                        name: "Tracy",
                        age: 28,
                        sex: "Female"
                    },
                    {
                        name: "Chris",
                        age: 32,
                        sex: "Male"
                    }
                ]
            }
        })
	</script>
</body>
</html>